.homePart{
    width: 1200px;
    margin: 0px auto;
    .homeCenter{
        margin-right: 30px;
        .homeHeader{
            margin: 15px,0;
            background-color: white;
            border-radius: 20px;

            box-shadow:rgba(18, 18, 18, 0.1) 0px 1px 3px 0px;

            .antHeader{
                height: auto !important;
                background-color: white;
                border-radius: 20px;
            }
    
        }
        .homeContent{
            overflow: hidden;
            // 为什么无效？？？？？？？
            // margin: 15px, 0 !important;

    

            transform: translateY(30px);


            // background-color: white;
            border-radius: 20px;
        }
    }
    .homeSider{
        border-radius: 20px;
    }
}





// swiperheader部分。
.swiper {
    width: 700px;
    min-width: 700px;
    
    // height: 300px;

    position: relative;
    margin: 0 auto;

    .item {
      margin: 30px 0;
      width: 500px;
      height: 250px;
      box-shadow: 3px 6px 8px #dde0e8;
    }
    .prev,
    .next {
        position: absolute;
        top: 45%;
        width: 50px;
        height: 50px;
        cursor: pointer;
        
      &:hover {
        opacity: 0.8;
      }
    }
    
    .prev{
        left: -50px;
    }
    .next{
        right: -50px;
    }
  }




//   createArticle部分。
.createArticlePart{
    box-shadow:rgba(18, 18, 18, 0.1) 0px 1px 3px 0px;
    height: 290px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    .title{
        .level{
            margin-left: 10px;
            color: red;
        }
    }
    .tags{
        margin-top: 5px;
        transform: translateX(-10px);
    }
    .index{
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #f9f9fa;
        .indexContainer{
            width: 50%;
            .indexTitle{
                font-size: 14px;

                transform: translateY(8px);
            }
            .indexContent{
                font-size: 23px;
            }
        }

    }
    .write{
        width: 100%;
        margin: 25px auto;
        button{
            height: 50%;
            width: 100%;
            font-size: 18px;
        }
    }
}