.headerRow{
    background-color: white;
   .heightDiv{
       height: 62px;
   } 
   .logo{
       position: absolute;
       top: -10px;
       left: 20px;
       height: 80px;
       width: 150px;
       background-image: url('../../assets/images/TIFA.png');
       background-size: contain;
   }
   .headerSearch{
      .userImg{
          display: flex;
          align-items: flex-end;
        //   transform: translateY(5px);
      } 
   }
}