@import '~antd/es/style/themes/default.less';
.headerRow{
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 0 1px #FFFFFF,0 0 0 2px #ddd, 0 0 5px 3px #EEEEEE;
    background-color: white;
    margin: 0 !important;
    
    .heightDiv{
       height: 62px;
   } 
   .headerSearch{
      .userImg{
          display: flex;
          align-items: flex-end;
        //   transform: translateY(5px);
      } 
   }
}
// menu部分。
.menu{
    // font-weight: bold;
}

// logo部分。
.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    .logo {
        position: absolute;
        height: 150%;
        left: 10%;
        top: -25%;
        vertical-align: top;

    }
    
    .title {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        font-weight: bold;
        transform: translateX(60px) translateY(-5px);
        text-shadow:0px 1px 0px #89dcff,
            0px 2px 0px #42c6ff,
    }
}

// userinfo部分。
.userMenuContainer{

    .userAvatar{
        cursor: pointer;
        width: 100%;
        height: 40px;
        .avatar{
            position: absolute;
            left: 40px;
            top: -4px;
        }


        .popPanel{
            position: absolute;
            top: 50px;
            right: 20px;
            width: 250px;
            height: 250px;
            background-color: white;
            border-radius: 0 0 15px 15px; 
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .userInfo{
                transform: translateY(-20px);
                text-align: center;
                .userName{
                    a{
                        color: #00faff;
                        &:hover{
                            color: #00c3ff;
                        }
                    }
                }
            }
            .selfInfoPanel{
                button{
                    font-size: 18px;
                    &:hover{
                        background-color: #00c3ff;
                    }
                }
            }

        }


    }
    .userName{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        font-weight: bold;
    }

}

// 抽屉部分。
.drawerContent{
    .drawerAvatar{
        margin: 60px auto;
        text-align: center;
        .nickname{
            margin: 5px 0;
            font-size: 20px;
            color: #00c3ff ;
        }
    }
    .signature{
        width: 300px;
        height: 120px;
        margin: 30px auto;
        padding: 15px;
        background-color: white;
        border-radius: 20px;
        button{
            transform: translateX(-23px) translateY(-60px);
        }

        // 阴影。
        & {
            border-radius: 10px;
            margin: 10px;
        }
        
        & {
            position: relative;
            box-shadow: 0px 1px 4px rgba(0,0,0,0.3),
                        0px 0px 20px rgba(0,0,0,0.1) inset;
        }
        
        &::before,
        &::after {
           content:"";
           position:absolute;
           z-index:-1;
        }
        
        &::before,
        &::after {
           content:"";
           position:absolute;
           z-index:-1;
           bottom:15px;
           left:10px;
           width:50%;
           height:20%;
        }
        
        &::before,
        &::after {
           content:"";
           position:absolute;
           z-index:-1;
           bottom:15px;
           left:10px;
           width:50%;
           height:20%;
           box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
           transform:rotate(-3deg);
        }
        
        &::after{
           right:10px;
           left:auto;
           transform:rotate(3deg);
         }
    }
    .tags{
        width: 300px;
        height: 120px;
        margin: 30px auto;
        padding: 15px;
        &{
            background: linear-gradient(#00faff, #00faff) left top,
                linear-gradient(#00faff, #00faff) left top,
                linear-gradient(#00faff, #00faff) right top,
                linear-gradient(#00faff, #00faff) right top,
                linear-gradient(#00faff, #00faff) left bottom,
                linear-gradient(#00faff, #00faff) left bottom,
                linear-gradient(#00faff, #00faff) right bottom,
                linear-gradient(#00faff, #00faff) right bottom;
            background-repeat: no-repeat;
            background-size: 5px 20px, 20px 5px;
        }
    }

}




