.officialInfoPart{
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    margin: 20px 0;
    padding: 15px;
    .titleContainer{
        font-size: large;
        .more{
            transform: translateX(145px);
        }
    }
    .imageInfoContainer{
        display: flex;
        justify-content: center;
        margin-top: 15px;
        img{
            border-radius: 10px;
        }
    }
    .infoListContainer{
        margin-top: 15px;
        .inforItemContainer{
            margin-top: 10px;
        }
    }
}
