.imgSwiperPart{

    margin-top: 40px;

    border-radius: 20px;
    overflow: hidden;

    box-shadow:rgba(18, 18, 18, 0.1) 0px 1px 3px 0px;

    // .swiper {
    //     width: 290px;
    //     border-radius: 20px;
    //     img {
    //       width: 280px;
    //       height: 200px !important;
    //       box-shadow: 3px 6px 8px #dde0e8;
    //     }
    // }
    img{
        width: 100%;
    }
}